<a href="https://colab.research.google.com/github/samtam0714/Chicago-Food-Inspection-Analytics/blob/main/food_inspection_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 2.9MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 10.0MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 303kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Installing collected packages: pyproj, cligj, munch, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1

In [ ]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os 
import seaborn as sns
import geopandas as gpd
import folium
from folium import plugins
import datetime
import math

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#load dataset
dataset = pd.read_csv('/content/drive/My Drive/Food_Inspections.csv')
dataset.head()

   Inspection ID  ...                                 Location
0        2385628  ...   (-87.76955418373417, 41.9311212237607)
1        2385591  ...    (-87.6833629225202, 41.8540047775837)
2        2385590  ...  (-87.68905111060724, 41.85210065324028)
3        2385587  ...  (-87.69079930080058, 41.94142629278533)
4        2385543  ...  (-87.6459711121892, 41.831074943653626)

[5 rows x 17 columns]

In [ ]:
dataset = dataset.applymap(lambda s:s.lower() if type(s) == str else s)
dataset.head(2)

   Inspection ID  ...                                Location
0        2385628  ...  (-87.76955418373417, 41.9311212237607)
1        2385591  ...   (-87.6833629225202, 41.8540047775837)

[2 rows x 17 columns]

In [ ]:
dataset.shape

(208925, 17)

In [ ]:
list(dataset.columns)

['Inspection ID',
 'DBA Name',
 'AKA Name',
 'License #',
 'Facility Type',
 'Risk',
 'Address',
 'City',
 'State',
 'Zip',
 'Inspection Date',
 'Inspection Type',
 'Results',
 'Violations',
 'Latitude',
 'Longitude',
 'Location']

In [ ]:
duplicaterow = dataset.duplicated().any() # False
duplicaterow = dataset.duplicated(subset=[
 'DBA Name',
 'AKA Name',
 'Facility Type',
 'Risk',
 'Address',
 'City',
 'State',
 'Zip',
 'Inspection Date',
 'Inspection Type',
 'Results',
 'Violations',
 'Latitude',
 'Longitude']).any()

In [ ]:
duplicaterow

True

In [ ]:
df = dataset[dataset.duplicated([
 'DBA Name',
 'AKA Name',
 'Facility Type',
 'Risk',
 'Address',
 'City',
 'State',
 'Zip',
 'Inspection Date',
 'Inspection Type',
 'Results',
 'Violations',
 'Latitude',
 'Longitude',
 ])]

In [ ]:
df=dataset.drop_duplicates(subset=[
 'DBA Name',
 'AKA Name',
 'Facility Type',
 'Risk',
 'Address',
 'City',
 'State',
 'Zip',
 'Inspection Date',
 'Inspection Type',
 'Results',
 'Violations',
 'Latitude',
 'Longitude'])
df.head()

   Inspection ID  ...                                 Location
0        2385628  ...   (-87.76955418373417, 41.9311212237607)
1        2385591  ...    (-87.6833629225202, 41.8540047775837)
2        2385590  ...  (-87.68905111060724, 41.85210065324028)
3        2385587  ...  (-87.69079930080058, 41.94142629278533)
4        2385543  ...  (-87.6459711121892, 41.831074943653626)

[5 rows x 17 columns]

In [ ]:
df.shape

(206681, 17)

In [ ]:
df = df.drop('Inspection ID',axis=1)
df = df.drop('AKA Name',axis=1)
df = df.drop('City',axis=1)
df = df.drop('State',axis=1)

In [ ]:
df.dtypes

DBA Name            object
License #          float64
Facility Type       object
Risk                object
Address             object
Zip                float64
Inspection Date     object
Inspection Type     object
Results             object
Violations          object
Latitude           float64
Longitude          float64
Location            object
dtype: object

In [ ]:
df.isnull().sum()

DBA Name               0
License #             17
Facility Type       4656
Risk                  72
Address                0
Zip                   51
Inspection Date        0
Inspection Type        1
Results                0
Violations         53423
Latitude             675
Longitude            675
Location             675
dtype: int64

In [ ]:
df = df.dropna(how='any', subset=['License #','Zip','Risk','Inspection Type','Latitude','Longitude','Location'])
df.isnull().sum()

DBA Name               0
License #              0
Facility Type       4583
Risk                   0
Address                0
Zip                    0
Inspection Date        0
Inspection Type        0
Results                0
Violations         53141
Latitude               0
Longitude              0
Location               0
dtype: int64

In [ ]:
df['Facility Type'] = df['Facility Type'].fillna('None')
df['Violations'] = df['Violations'].fillna('None')

In [ ]:
data = df[(df.Results != 'business not located') & (df.Results != 'no entry') & (df.Results != 'not ready') & (df.Results != 'out of business')]

In [ ]:
data

                            DBA Name  ...                                  Location
0              all in 1 discount inc  ...    (-87.76955418373417, 41.9311212237607)
2           pete's fresh supermarket  ...   (-87.68905111060724, 41.85210065324028)
5                    chop suey huang  ...    (-87.6924942225335, 41.97597608993619)
6             odyssey  chicago river  ...  (-87.62143868830125, 41.890001335214684)
7                           brando's  ...  (-87.62912123316899, 41.877146786216336)
...                              ...  ...                                       ...
208920                 t tasty house  ...   (-87.63199264229414, 41.85528170377401)
208921              wrigleyville dog  ...   (-87.65851083690285, 41.94989452098964)
208922              adler school inc  ...  (-87.68548253142126, 41.968553831007675)
208923                  best sub no2  ...  (-87.71329441237397, 41.932068626464286)
208924  izumi sushi bar & restaurant  ...  (-87.64695273829979, 41.884300945480696)

[179291 rows x 13 columns]

In [ ]:
cleanup_nums = {"Risk":     {"risk 1 (high)": 2, "risk 2 (medium)": 1, "risk 3 (low)" : 0},
                "Results": {"pass": 0, "pass w/ conditions": 1, "fail": 2 }}

In [ ]:
data.replace(cleanup_nums, inplace=True)
data.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6666: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regex=regex,

                   DBA Name  ...                                  Location
0     all in 1 discount inc  ...    (-87.76955418373417, 41.9311212237607)
2  pete's fresh supermarket  ...   (-87.68905111060724, 41.85210065324028)
5           chop suey huang  ...    (-87.6924942225335, 41.97597608993619)
6    odyssey  chicago river  ...  (-87.62143868830125, 41.890001335214684)
7                  brando's  ...  (-87.62912123316899, 41.877146786216336)

[5 rows x 13 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
data.to_csv('data.csv')
!cp data.csv "drive/My Drive/"